<head>
    
    <title>More about Tholakele</title>
    
</head>
<body>

    <div class="mepage">
        <div class="side">

        <div class="dropdowns">
            <span>Contacts</span>
            <div class="dropdown-info">
                Contact No:074 446 98854
                Email:Tholakelebusi@gmail.com.za
            </div>
        </div>

            <div class="dropdowns">
                <span>About Me</span>
            <div class="dropdown-info">
                 My name is Cossa Tholakele Busi a Mobile App developer based in Palmridge I am strong,independent and determined lady.Currently working at MLAB as an intern.
               
                </div>
        </div>

      
        </div>
        
        
        
    <h2>Welcame to Busi Cossa Portfolio</h2>
    <div class="infor">
        <p>I am a Final year student at Tshwane university Of Technology,specializing in software development with 2 months Experince.
                 
</p>
</div>


<div class="skills">
    <h3> Skills </h3>    
        *C++        *CSS
        *HTML       *PL/SQL
        *Microsoft Office
        *Typescript
    </div>
   

<div>
    <h3>MY RECENT WORK</h3>
    <div class="work">
<div>
       
    <a mat-raised-button href="https://stackblitz.com/edit/finding-the-highest-age-in-array?file=index.ts"><h6>Array[Finding the highest age and Finding Kids less than 10 years]~TASK 1</h6>
    </a>
</div>
<div>

  <a mat-raised-button href="https://stackblitz.com/edit/smallest?file=index.ts"> <h6>Array[find the smallest]~TASK 2</h6>
  </a>
</div>


    <div>
        
       <a mat-raised-button href="https://stackblitz.com/edit/convertingtime?file=index.ts" ><h6>Converting Time ~TASK 3</h6>
       </a>
      
    </div>
</div>
</div>





<div class="dropdowns">
    <h3>Testimonials</h3>
    <div class="dropdown-info">
        
        <p>Not only was Busi on time,shes able to pay attention to details and willing to work through issues as they rise,I would not hesitate to work with her again</p>
<p>-Fellow TUT student-</p>
    </div>
</div>
</div>


<div class="last">
<p>2020 Busi.All rights reserved</p>
</div>
</body>